<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Not in use currently
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                LUCY - %d{yyyy-MM-dd HH:mm:ss} ## %-5level %logger{36}##%msg%n
            </Pattern>
        </layout>
    </appender>-->

    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <param name="Encoding" value="UTF-8"/>
        <destination>logstash:50000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"lucy-core"}</customFields>
        </encoder>
    </appender>

    <logger name="com.lucy.core" level="info">
        <appender-ref ref="logstash"/>
    </logger>

</configuration>